body{
	background-image: url('back.png');
  background-repeat: repeat-y;
}

img{
	height: 70px;
	width: 70px;
	text-align: bottom;
}

h2{
	font-size: 50px;
	color: #006599;
  text-align: center;
	
}


button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 2px 8px;
  transition: all .1s linear;
}
button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}


.user {
  color: #006599;
  font-size: 20px;
}

.tweet {
  background: powderblue;
  background-size: 10px 20px;
  border-radius: 10px;
  text-align: left;
  border: 1px solid grey;
  margin: 0px 5px 5px 5px;
  padding: 5px;
  line-height: 18px;
  box-shadow: 2px 2px 2px #888888;
}

.time {
  color: grey;
  font-style: italic;
}

a{
  text-decoration: none;
}

ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: #556C8C;
}
